*{
    margin:0;
    padding:0;
    list-style: none;
}
.main{
    margin:20px auto;
    height: 400px;
    width: 402px;
    border:1px solid #ccc;
}
p{
    display: flex;
}
p button{
    width: 200px;
    height: 50px;
    border: none;
    background: orange;
    color:#fff;
    border-left:1px solid #fff;
    font-size: 16px;
}
.deng,.zhu{
    width: 400px;
    text-align: center;
}
.deng div,.zhu div{
    margin:10px 0;
}
input{
    border:none;
    border-bottom:1px solid #ccc;
    height: 40px;
    width: 200px;
    padding-left: 10px;
}
h4{
    line-height: 30px;
}
#but{
    border: none;
    background: orange;
    height: 40px;
    border-radius: 10px;
    width: 260px;
    color:#fff;
}